<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/5afed4a8c8.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <%= render "layouts/header" %>
    </header>

    <div class="container">
      <%= render "layouts/flash" %>
      <div class="row my-3">
      <% if content_for?(:content) %>
        <%= yield(:content) %>
      <% else %>
        <main class="col">
          <%= yield %>
        </main>
      <% end %>
      </div>
    </div>

    <footer>
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
